body {
  margin: 0;
}
.header,
.sidebar,
.main,
.footer {
  background-color: #f0f8ff;
  border: 1px solid #add8e6;
  padding: 20px;
  text-align: center;
}
.grid-container {
  display: grid;
  height: 100vh;
  gap: 10px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
